@font-face {
    font-family: 'Pretendard';
    src: url('./fonts/Pretendard-Medium.otf') format('truetype');
}

body {
    font-family: 'Pretendard';
    background: linear-gradient(45deg, #6a82fb, #a1c4fd, #c2e9fb, #dcb8f8);
    background-size: 800% 800%;
    animation: gradient 600s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.container {
    border-radius: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: white; 
    width: 300px; 
    margin: auto; 
    margin-top: 100px; 
    max-width: 100%; 
    padding: 20px; 
}
#mainMenu {
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    justify-items: center; 
    margin: auto; 
}


.menu-button::after {
    position: absolute;
    right: 10px; 
    top: 0;
    width: 20px; 
    height: 100%;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button:hover::after {
    left: 0px;
    content: attr(data-hover-text); 
    font-size: 30px; 
    transform: scale(1.5); 
    width: 100%; 
}
#mainMenu button {
    font-family: 'Pretendard';
    width: 120px;
    height: 120px;
    font-size: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease;
}
#mainMenu h2 {
    grid-column: 1;
    text-align: center; 
}
#mainMenu button:hover {

    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"] {
    box-sizing: border-box; 
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

#button {
    font-family: 'Pretendard';
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
#button:hover {

    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
}
.switch1 {
    text-align: center;
    font-size: 0.9em;

}

.switch2 {
    text-align: left;
    font-size: 1em;
    cursor: pointer;
    color: #007bff;
}

.hidden {
    display: none;
}
.grid {
    display: grid;
}
.back-button {
    display: block; 
    position: absolute; 
    top: 0px; 
    right: 0px; 
    padding: 5px 10px; 
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
}

.back-button img {
    width: 15px;
    height: auto; 
}

.back-button2 {
    display: block; 
    position: absolute; 
    top: 0px; 
    right: 0px; 
    padding: 5px 10px; 
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
}

.back-button2 img {
    width: 15px;
    height: auto; 
}


#signup {
    position: relative;
}
#userDetails{
    position: relative;
}
#settings{
    position: relative;
}
#scoreHistory{
    position: relative;
}
#locName{
    text-align: left;
    font-size: 20px;
}

#changeLoc {
    display: flex;
    justify-content: space-between;
}
.nearLoc, .farLoc {
    transition: transform 0.3s ease-in-out;
}

.nearLoc:hover, .farLoc:hover {
    transform: scale(1.1);
}
#changeLoc button{
    font-family: 'Pretendard';
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    border: none;
    text-align: center;

}

#map {
    height: 400px;
    width: 100%;
}
#results {
    padding: 20px;
}

#settings {
    margin: 10px 0;
    padding: 10px;
}

#settings label {
    display: inline-block;
    margin-bottom: 10px;
}

#settings input[type="checkbox"] {
    margin-right: 5px;
}

.input-group {
    margin-bottom: 10px;
}

.marked {
    background-color: greenyellow; 
}


#calendarHeader {
    text-align: center;
    margin-bottom: 10px;
}

#calendarHeader select {
    margin: 0 5px;
}

#calendar div {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    text-align: center;
}


#calendar div.empty {
    visibility: hidden; 
}


#calendarDays div {
    display: inline-block;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    border: none; 
    background: none; 
}

#limitTime {
    font-weight: bold;
}

#scoreList .details {
    display: none;
}